{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <br><br><br>
    <h3>Ваш профиль</h3>

    <p>Имя пользователя:{{user.username}}</p>
    <p>Почта:{{user.email}}</p>
    <p>Имя:{{user.first_name}}</p>
    <p>Фамилия:{{user.last_name}}</p>
    <p>Последний вход: {{user.last_login}}</p>
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}">
    {% endif %}
    {% if not user.avatar %}
        <img src="{%static 'images/default_avatar.png' %}">
    {% endif %}

    <a href="{% url 'edition' %}">Редактировать профиль</a>

    Пользователь с {{user.date_joined.date}}
{% endblock %}