{% extends 'base/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container np" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-5" style="height: 100%;">
            <div class="card" style="max-height: 100%;">
                <img src="{%static 'images/default.png' %}" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>{{event.name}}</h3></li>
                    <li class="list-group-item"><h6>{{event.author.first_name}} {{event.author.last_name}} <a
                            href="{% url 'profile' code=event.author.id %}">@{{event.author.username}}</a></h6></li>
                </ul>
                <div class="card-footer" style="overflow-y: auto;">
                    {{ event.description }}
                </div>
            </div>
        </div>
        <div class="col-7" style="height: 100%;">
            <div class="container col d-flex flex-column np" style="height: 100%;">
                <div style="max-height: 50%;">
                    <h4 style="height: 30px; margin-bottom: 10px;">Друзья:</h4>
                    <div class="row" style="max-height: calc(100% - 40px); overflow-y: auto;">
                        <div class="col">
                            {% for user in friends %}
                            <div class="card mb-2" style="width: 100%;">
                                <div>
                                    <div style="display: inline-block;">
                                        {% if user.avatar %}
                                        <img src="{{ user.avatar.url }}" class="img-fluid rounded-start"
                                             style="height: 30px; width: 30px; object-fit: cover">
                                        {% else %}
                                        <img src="{% static 'images/default.png' %}" class="img-fluid rounded-start"
                                             style="height: 30px; width: 30px; object-fit: cover">
                                        {% endif %}
                                    </div>
                                    <div style="display: inline-block;">
                                        <div class="card-body np" style="padding-left: 10px; height: 100%;">
                                            <h5 class="card-title" style="height: 100%; margin: 0; text-align: start;">
                                                {{user.first_name}} {{user.last_name}} <a
                                                    href="{% url 'profile' code=user.id %}">@{{user.username}}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <h4 style="height: 30px; margin-bottom: 10px;">Все люди:</h4>
                <div class="row flex-grow-1 overflow-auto">
                    <div class="col">
                    {% for user in people %}
                        <div class="card mb-2" style="width: 100%;">
                            <div>
                                <div style="display: inline-block;">
                                    {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" class="img-fluid rounded-start"
                                         style="height: 30px; width: 30px; object-fit: cover">
                                    {% else %}
                                    <img src="{% static 'images/default.png' %}" class="img-fluid rounded-start"
                                         style="height: 30px; width: 30px; object-fit: cover">
                                    {% endif %}
                                </div>
                                <div style="display: inline-block;">
                                    <div class="card-body np" style="padding-left: 10px; height: 100%;">
                                        <h5 class="card-title" style="height: 100%; margin: 0; text-align: start;">
                                            {{user.first_name}} {{user.last_name}} <a
                                                href="{% url 'profile' code=user.id %}">@{{user.username}}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}