{% extends 'base/base.html' %}


{% load bootstrap5 %}


{% block content %}

    <h1 class="mt-4">Авторизация (vasya-promprog)</h1>
    <hr>

    <div class="row">
        <div class="col-4 offset-4">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}

