{% extends 'base/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/.css' %}"/>
{% endblock %}

{% block content %}

<form method="post" action="{% url 'search_friends' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary float-right btn-block">искать</button>
</form>

{% if users_size == 0 %}
<h1>Нет совпадений</h1>
{% endif %}

{% if users_size > 0 %}
    <h1>пользователи:</h1>
    {% for i in users %}
    <div class="card" style="width: 18rem;">
        {% if i.avatar %}
            <img class="card-img-top" src="{{i.from_user.avatar.url}}" alt="Card image cap">
        {% endif %}
        {% if not i.avatar %}
            <img class="card-img-top" src="{% static 'images/default_avatar.png' %}" alt="Card image cap">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{i.username}}</h5>
        <p class="card-text">{{i.first_name}} {{i.last_name}}</p>
      </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <button type="submit" value="{{i.id}}" name="del_friend">Delete Friend</button>
        </form>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
