<!DOCTYPE html>
<html lang="en" class="{{ request|get_theme }}">

{% load bootstrap5 %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ pagename }} - FinE</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dark.css' %}"/>
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/theme.js' %}"></script>
</head>


<body class="gradient-background">
<div style="display: flex; position: relative; margin-left: 10vw;">
    <header class="mycontainer header" style="padding: 10px; margin-left: 0; margin-right: 0;">
        {% include 'base/menu.html' %}
        {% block header %}{% endblock %}
    </header>

    <div class="mycontainer theme-change-button"
         onclick="change_theme()">
        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true" id="button-image">
            {% if request.user.theme == "dark" %}
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>
                </svg>
            {% else %}
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"></path>
            {% endif %}
        </svg>
    </div>
    <script>
        {#console.log("{{ request.user.theme }}");#}
        {#console.log(localStorage.getItem("theme"));#}
        if (localStorage.getItem("theme") == "dark" && String("{{ request.user.is_authenticated }}").toLowerCase() === "false") {
            document.querySelector('html').classList.toggle('dark');
            document.querySelector('#button-image').innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>'
        }
        if (localStorage.getItem("theme") != "{{ request.user.theme }}" && String("{{ request.user.is_authenticated }}").toLowerCase() === "true") {
            change_theme();
        }
    </script>
</div>

<div class="mycontainer borders">
    {#    {% csrf_token %}#}
    <main role="main" class="container-fluid np" style="overflow-y: auto;">
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </main>
</div>

{% block extracontent %} {% endblock %}

<footer class="mycontainer footer">
    {% block footer %}
        <div class="container text-right" style="display: flex; height: 100%; align-items: center; margin: 0;">
            <span class="text-muted">&copy; ШП, {% now "Y" %}</span>
        </div>
    {% endblock %}
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block extra_js %}
{% endblock %}
</body>
</html>
