body {
    height: 98vh;
}

.gradient-background {
    background: -webkit-linear-gradient(bottom left, #3931af, #00c6ff);
}

.full-screen {
    height: 94%;
    width: 94%;
}

.footer {
    padding: 1vw;
    background: #fff;
    margin-top: 2vh;
    border-radius: 0.5rem;
    height: 7vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background: #fff;
    margin-top: 2vh;
    border-radius: 0.5rem;
}

.borders {
    display: flex;
    padding: 1.5vw;
    background: #fff;
    margin-top: 2vh;
    border-radius: 0.5rem;
    min-height: 77vh;
    max-height: 77vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.np {
    padding: 0 0 0 0;
}

.mycontainer {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.75);
}

a {
    text-decoration: none;
}