.card-around {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.mycard {
    --my-width: calc((79vw - 4vw - 2vw * 4) / 5);
    width: var(--my-width);
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    padding: 2px;
    background-color: #FFFFFF;
}

.dark-mycard {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 2rem 3rem;
    margin: 20px;
    border: 2px solid #50c878;
    border-radius: 1rem;
    background-color: #FFFFFF;
    color: #000000;
}

.mycard > img {
    width: var(--my-width);
    height: var(--my-width);
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    margin-left: -4px;
    margin-top: -4px;
    object-fit: cover;
    background-color: #FFFFFF;
}

.for-tag {
    margin-bottom: -2px;
}

.myform {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.myform > button {
    display: inline-block;
    width: 47.5%;
}

.min_pad {
}


@media screen and (max-device-width: 1500px) {
    .mycard {
        width: calc((79vw - 4vw - 2vw * 4) / 5);
    }

    .black-mycard {
        width: 40%;
    }

    .min_pad {
        padding: 0;
    }

    .min_pad_btn {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .myform {
        display: flex;
    }

    .myform > button {
        display: block;
        width: 100%;
    }

    .special-margin {
        margin-top: 10px;
        margin-bottom: 2px;
    }
}
