.tabs {
    width: 100%;
}

.tabs > div > input[type="radio"] {
    display: none;
}

.tabs > div > input[type="radio"]:checked + label {
    background-color: rgb(13, 110, 253);
    color: #FFFFFF;
}

.tabs > #content-1, #content-2, #content-3 {
    /* скрыть контент по умолчанию */
    display: none;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
.tabs:has(#tab-btn-1:checked) #content-1,
.tabs:has(#tab-btn-2:checked) #content-2,
.tabs:has(#tab-btn-3:checked) #content-3 {
    display: block;
}

.tabs > div > label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #eee;
    border: 1px solid transparent;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    height: 5vh;
    max-height: 50px;
}